<table class="frontmatter-table">
  <thead>
    <tr>
      {{#each items}}
        <th>{{@key}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each items}}
        <td data-label="{{@key}}">
          {{#if (isCover @key)}}
            <img src="{{this}}" alt="Cover image" class="frontmatter-cover">
          {{else if (isLogo @key)}}
            <img src="{{this}}" alt="Logo" class="frontmatter-logo">
          {{else}}          
            {{{this}}}
          {{/if}}
        </td>
      {{/each}}
    </tr>
  </tbody>
</table>

<h1>{{title}}</h1>