<div class="mdx-photo {{floatClass}}" {{#if width}}style="width:{{width}}"{{/if}}>
  <div class="">
    <div class="border-label {{#if showBorderLabel}}visible{{/if}}">контент картинки ближе к этой линии</div>
    <img src="{{src}}" alt="{{alt}}" {{#if width}}style="width:{{width}}"{{/if}}>
  </div>  
  {{#if caption}}<div class="mdx-photo-caption">{{caption}}</div>{{/if}}
</div>